html {
  font-size: 100%;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-size: 0.9rem;
  font-family: "Meiryo", "メイリオ", "MS Pゴシック", sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

a {
  text-decoration: none;
  color: gray;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

h1 {
  font-size: 1.95rem;
  font-weight: 100;
}

h1, h2, h3, h4, p {
  color: gray;
}

.inner {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

.index-chapter-head {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.index-chapter-head .hdl {
  margin: 0;
  color: #6ea1d8;
  /* color: #97cdf3; */
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 8px;
}

.index-chapter-head .cpy {
  margin-top: 42px;
  margin-left: 18px;
  font-size: 1.25rem;
  line-height: 2;
}

.more {
  width: 72%;
  max-width: 300px;
  margin: 50px auto 0;
  position: relative;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 180%;
  background-color: #fff;
  border-radius: 5px;
}

.more a {
  display: block;
  border: 1px solid #97cdf3;
  border-radius: 5px;
  padding: 0.5em 0;
}
.more a:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border-width: 0 1px 1px 0;
  border-color: gray;
  border-style: solid;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 15px;
  margin-bottom: 2px;
  border-color: currentColor;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.more a:hover {
  color: #fff;
  background-color: #97cdf3;
  border: 1px solid #97cdf3;
  transition: all .3s 0s ease;
}

/* Header */
.header{
  height: 80px;
  width: 100%;
  background-color: #fff;
  transition: color 0.2s ease-out;
  position: fixed;
  z-index: 20;
}

.headerColorScroll {
  color: #fff;
  background-color: #97cdf3;
  transition: color 0.2s ease-out;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 40px;
}

nav li a {
  font-size: 1.25rem;
  color: gray;
}

nav li a:hover {
  color: #97cdf3;
}

.headerColorScroll:hover {
  color: gray;
}
/* Main */
#mainvisual {
  height: 650px;
  position: relative;
  /* margin-bottom: 80px; */
}

#mainvisual .text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 10%;
  z-index: 10;
}

#mainvisual .text .logo {
  font-size: 5rem;
  letter-spacing: 10px;
  font-weight: 500;
  color: #fff;
}

#mainvisual .text h2 {
  margin-left: 30px;
  margin-top: 30px;
  letter-spacing: 3px;
  font-weight: 300;
  color: #fff;
}

#mainvisual p {
  position: absolute;
  top: 550px;
  right: 15%;
  color: #fff;
  font-size: 1.25rem;
}

/* #mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
} */

#mainvisual .fade li {
  width: 100%;
  /* height: calc(100vh - 80px); */
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  animation: fade 20s infinite;
}

#mainvisual .fade li:nth-child(1) {
  animation-delay: 0s;
}
#mainvisual .fade li:nth-child(2) {
  animation-delay: 5s;
}
#mainvisual .fade li:nth-child(3) {
  animation-delay: 10s;
}
#mainvisual .fade li:nth-child(4) {
  animation-delay: 15s;
}

#mainvisual .fade li img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* About */
#about {
  margin-bottom: 100px;
  background-color: #eaf6fd;
  padding: 50px 20px;
  margin: 0 auto;
  width:100vw; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width:100vw;
  width:100vw;
}

#about .about-container {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  width: 900px;
  margin: 0 auto;
  justify-content: space-between;
}

#about .about-text {
  width: 55%;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: start;
}

#about .about-img {
  width: 40%;
}
#about img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* NEWS */
#news {
  margin-top: 80px;
  margin-bottom: 120px;
}

/* #news .header {
  color: #fff;
  background-color: #97cdf3;
  transition: color 0.2s ease-out;
} */

.topics-header {
  display: flex;
  align-items: center;
}
.topics-header .label {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

span,
.filters label {
  border-radius: 3px;
  /* color: gray; */
  color: #fff;
  padding: 7px 7px;
  width: 110px;
  text-align: center;
  margin: 0 20px;
}


[value="All"]:checked ~ .targets [data-category] {
  display: block;
}
[value="info"]:checked ~ .targets .target:not([data-category~="info"]), 
[value="interview"]:checked ~ .targets .target:not([data-category~="interview"]), 
[value="gaps"]:checked ~ .targets .target:not([data-category~="gaps"]){
  display: none;
}

/* ラジオボタンを非表示に */
input[type="radio"] {
  position: absolute;
  left: -9999px;
}
/* 以下はラベルのスタイル */
.filters {
  margin-bottom: 100px;
}
.filters * {
  display: inline-block;
}
/* .filters label {
  text-align: center;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.2s;
} */


/* .filters label:hover {
  background: #97cdf3;
  color: #fff;
} */
/* [value="All"]:checked ~ .filters [for="All"],
[value="info"]:checked ~ .filters [for="info"],
[value="interview"]:checked ~ .filters [for="interview"],
[value="gaps"]:checked ~ .filters [for="gaps"]{
  background-color: #fff;
  color: gray;
} */


#news .label-all {
  background-color: gray;
  color: #fff;
}
#news .label-info {
  background-color: #a2d2ff;
  /* color: #fff; */
  /* background-color: #7cd1b8; */
}
#news .label-event {
  /* background-color: #ff865e; */
  background-color: #fee440;
  /* color: gray; */
}
#news .label-interview{
  background-color: #7cd1b8;
  /* color: #fff; */
  /* background-color: #fee440; */
}

#news .topics-content {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}
#news .topics-header {
  display: flex;
  margin-right: 40px;
}

#news .topics-item a {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
  color: #383935;
}

#news ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 50px;
}

#news .pager:not(:last-child) {
  margin-right: 10px;
}

#news .pager a {
  display: block;
  padding: 15px;
  color: gray;
  line-height: 0.8;
  background-color: #fff;
  /* background-color: #e6e6e6; */
  border: 2px solid #97cdf3;
  border-radius: 10px;
}

#news .pager span {
  display: block;
  padding: 15px;
  color: #fff;
  line-height: 0.8;
  background-color: #97cdf3;
  border: 2px solid #97cdf3;
  border-radius: 10px;
  margin: 0;
  width: auto;
}

/* Voice */
#voice {
  margin-bottom: 120px;
}

#voice .content {
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  gap: 20px;
}

#voice .voice-item {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #eaf6fd;
}

#voice .title {
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: grey 1px solid;
}

.readmore {
  position: relative;
  box-sizing: border-box;
}
.readmore-item {
  position: relative;
  overflow: hidden;
  height: 140px;/*隠した状態の高さ*/
}
.readmore-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 50px;/*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(234, 246, 253,0) 0%, rgba(234, 246, 253,0.8) 50%, rgba(234, 246, 253,0.8) 50%, #eaf6fd 100%);
  background: linear-gradient(top, rgba(234, 246, 253,0) 0%, rgba(234, 246, 253,0.8) 50%, rgba(234, 246, 253,0.8) 50%, #eaf6fd 100%);
}
.readmore-btn {
  display: table;
  bottom: 5px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin: 0 auto;
  z-index: 2;
  padding: 3px 18px;
  background-color: gray;
  border-radius: 5px;
  color: #FFF;
}

.readmore-btn:hover {
  background-color: #97cdf3;
  transition: all .3s 0s ease;
}

#voice .voice-item p {
  padding: 20px 20px;
  text-align: start;
}

/* Gaps */
#gaps {
  margin-bottom: 100px;
}

.gaps-text {
  width: 70%;
  margin: 30px auto 60px;
  text-align: start;
}
.flex {
  /* display: grid;
  grid-template-columns: repeat( 2, 1fr);
  gap: 50px;
  padding: 0 15%; */
  display: flex;
  margin-right: 40px;
}

.svg {
  position: relative;
  display: flex;
  justify-content: center;
}

.svg:hover {
  transform: scale(1.1);
  transition: all .5s 0s ease;
}

.svg .svg-title {
  position: absolute;
  top: 60px;
  text-align: center;
  right: 70px;
  font-family: 'Montserrat', sans-serif;
}

.svg p {
  color: gray;
  font-size: 3rem;
}

.svg-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px 22px;
  margin-top: 5px;
  width: 130px;
  color: gray;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0;
}
.svg-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  transform: rotate(45deg);
}

.svg:hover .svg-btn {
  transition: all .5s 0s ease;
  opacity: 1;
}
.svg-btn:hover::after {
  transition: all .5s 0s ease;
  opacity: 1;
}

/* Instagram */
/* #instagram {
  margin-bottom: 80px;
}

.ig-flex {
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  gap: 40px;
  margin: 0 150px;
} */


/* Footer */
footer {
  background-color: #97cdf3;
  height: 180px;
  padding: 30px;
}

.footer-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.footer-logo,
footer p {
  color: #fff;
}

footer p {
  margin-top: 20px;
}

footer .sns {
  display: flex;
  width: 100px;
  color: #fff;
  justify-content: space-around;
  margin: 10px 0;
}

footer .sns .fab {
  font-size: 1.75em;
}